********/ * {
    margin: 0;
    padding: 0;
}

/*---------section--------*/

#splash {
    height: 100vh;
}

#about {
    background-color: aliceblue;
}

#brands {
    background-color: #f5f0ff;
}

#us {
    background-color: #fff0f3;
}

#vision {
    background-color: #fffbf0;
}

#offer {
    background-color: #f8fff0;
}

#contact {
    background-color: #f0fff9;
}

/*---------flex-----------*/

/*---------parent---------*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.column_content2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#vision .sectionwrapper {
    display: block;
    text-align: center;
}

/*---------child---------*/

.column {
    flex-basis: 100px;
    flex-grow: 1;
}

.column2 {
    flex-basis: 100px;
    flex-grow: 1;
}

.column_wide {
    flex-basis: 100px;
    flex-grow: 2;
}

.img {
    flex-basis: 100px;
    flex-grow: 1;
}

.txt {
    flex-basis: 100px;
    flex-grow: 1;
}

/*----------------------*/

body {
    background-image: url(123.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
}

img {
    width: 100%;
}

#splash section,
#splash img,
#splash div {
    width: 100%;
}

#brands img,
#us img,
#contact img {
    width: 20vw;
}

#us img {
    width:
}
