* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------section--------*/

#splash {
    height: 130vh;
    width: 100%;
}

#splash div {
    width: 70vw;
    top: 20vh;
    left: 15vw;
    position: absolute;
    align-self: center;
}

#about {
    background-color: #3f3f3f;
}

#brands {
    background-color: rgba(93, 111, 125, 0.8);
}

#us {
    background-color: #9eb1b8;
}

#vision {
    background-color: #fdd3cd;
}

#offer {
    background-color: rgba(93, 111, 125, 0.8);
}

#contact {
    background-color: #3f3f3f;
}

/*---------flex-----------*/

/*---------parent---------*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.column_content2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#vision .sectionwrapper {
    display: block;
    text-align: center;
}


/*---------child---------*/

.column {
    flex-basis: 100px;
    flex-grow: 1;
    padding: 2vw;
    width: 100%;
}

.column2 {
    flex-basis: 200px;
    flex-grow: 1;
    padding: 1vw;
    min-width: 180px;
    max-width: 70vw;
    width: 100%;
}

.column_wide {
    flex-basis: 100px;
    flex-grow: 2;
}

.img {
    flex-basis: 100px;
    flex-grow: 1;
}

.txt {
    flex-basis: 100px;
    flex-grow: 1;
}

/*----------------------*/

body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
li,
p {
    color: white;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #888888;
}

header {
    background: #ffffff;
    height: 3vw;
    width: 100%;
    position: fixed;
    z-index: 10;
}

section {
    padding: 2vw 5vw 2vw 5vw;
    margin: 0 7vw 0 7vw;
}

#splash {
    padding: 0;
    margin: 0;
}


img {
    width: 100%;
}

#us img,
#contact img {
    width: 20vw;
}

#brands .column {
    padding: 0;
}

#us .column {
    max-width: 50vw;
    flex-basis: 200px;
}

#contact {
    margin-bottom: 7vw;
}

/*---------VIDEO---------*/

.video iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    padding-top: 25px;
